* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: HelveticaNue;
  src: url('../../assets/fonts/HelveticaNeue-CondensedRegular.ttf');
}

.toast {
  width: 668px;
  height: 181px;
  border-radius: 24px;
  position: relative;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
}
.type--info {
  background-color: #9a40d3;
}

.type--warning {
  background-color: #f4e048;
}

.type--error {
  background-color: #e25837;
}

.type--success {
  background-color: #37e29a;
}

.close-icon {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  background: none;
  background-image: url('../../assets/icons/close.svg');
  border: none;
  padding: 0;
  cursor: pointer;
}
.icon {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 59px;
  left: 32px;
}
.info-icon {
  background-image: url('../../assets/icons/information.svg');
}
.warning-icon {
  background-image: url('../../assets/icons/warning.svg');
}
.error-icon {
  background-image: url('../../assets/icons/error.svg');
}
.success-icon {
  background-image: url('../../assets/icons/success.svg');
}

p {
  font-family: HelveticaNue;
  position: absolute;
  top: 73px;
  left: 135px;
  font-size: 32px;
  line-height: 37px;
  color: #ffffff;
}
